<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <title>{% block title %}Create Post!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block head %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <script src="{{ asset('dist/js/jquery.min.js') }}"></script>
            <script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
